.menu-bar {
    color: #929292;
    fill: #929292;
    margin: 50px 0;
    font-size: .8rem;
}

.menu-bar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-bar nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-bar .nav {
    gap: 40px;
}

.menu-bar .social {
    gap: 27px;
}

.menu-bar ul li {
    cursor: pointer;
}

.menu-bar ul li:hover {
    color: #fff;
    fill: #fff;
}

.menu-bar .logo {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 50%;
    background: #e4378a;
    background: linear-gradient(47deg,#e4378a 15%, #ec7047 85%);
}