.body-card {
    padding: 30px 7.1%;
}

.body-card .posts{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6%;
}

.body-card > p {
    text-transform: uppercase;
    color: rgb(192, 192, 192);
    font-weight: 800;
    margin: 10px 0 40px 0;
}

.posts img{
    width: 100%;
}

.posts span {
    color: gray;
}

.posts h3 {
    margin: 10px 0;
    font-size: 1.4rem;
}

.posts p {
    color: gray;
    margin-top: 18px;
}

.body-card .posts > div {
    max-width: 300px;
}

@media screen and (max-width: 557px) {
    .body-card {
        padding: 20px 5%;
    }

    .body-card .posts{
        gap: 2%;
    }
    
    .body-card .posts > div {
        max-width: 48%;
    }

    .posts h3 {
        font-size: 1.3rem;
    }

    .posts p {
        display: none;
    }
}