.detalhes {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.post {
    width: 800px;
}

.post img {
    width: 100%;
}

.post span {
    color: gray;
}

.post h1 {
    font-size: 3rem;
    margin: 10px 0;
}

.post p {
    font-size: 1.3rem;
}

.detalhes a {
    text-decoration: none;
    color: antiquewhite;
    margin: 50px 0;
}