* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #111111;
    color: #fff;
    padding: 0px 7.1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}