.big-card {
    display: flex;
    flex-direction: column;
}

.big-card img {
    max-width: 100%;
}

.big-card span {
    color: gray;
    font-size: .9rem;
}

.big-card h2 {
    font-size: 1.9rem;
    margin: 8px 0;
}

.big-card p {
    color: gray;
    font-size: 1.2rem;
}

@media screen and (max-width: 557px)  {
    .big-card span {
        margin: 10px 0;
    }

    .big-card h2 {
        font-size: 1.4rem;
    }

    .big-card p {
        font-size: 1rem;
        margin-bottom: 40px;
    }
}